<!-- I'd like to have a page that support both on mobile and web browser mode, so I want panel at the center. It gona have icon with page title on the top of panel and then we gona have 4 resistor color codes and submit button. -->
<div class="d-flex justify-content-center align-items-center w-100 h-100 rcc-container"> <!--panel for main content at center-->
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0"> <!-- Using card content container, a flexible easy to use with setup of header/body/footer and ready to do-->
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow"> <!--card header-->
                <div class="row">
                    <h2>{{pageTitle}}</h2>
                </div>
        </div>
            <div class="card-body text-center px-1">  <!--card body-->                
                <div class="row">
                    Resistor Color Coding uses color bands to easily identify a resistors resistive value and its percentage tolerance.                        
                </div>
                <form #form="ngForm" (ngSubmit)="onSubmit()" class="text-left mt-4">
                    <div class="row pt-4">
                        <div class="col-md-6">
                            <label for="colorCodes">1st Digit:</label>
                            <select id="colorCodes" name="colorCodes" class="form-control" [ngModel]="selectedColorCodeVM" (ngModelChange)="updateSelectedOption($event, 'bandA');" required>
                                <option *ngFor="let opt of colorCodeOptions" [ngValue]="opt">{{ opt.Color }}</option>
                            </select>
                        </div>                    
                        <div class="col-md-6">
                            <label for="colorCodes">2nd Digit:</label>
                            <select id="colorCodes" name="colorCodes" class="form-control" [ngModel]="selectedColorCodeVM" (ngModelChange)="updateSelectedOption($event, 'bandB');" required>
                                <option *ngFor="let opt of colorCodeOptions" [ngValue]="opt">{{ opt.Color }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-md-6">
                            <label for="colorCodes">Multiplier:</label>
                            <select id="colorCodes" name="colorCodes" class="form-control" [ngModel]="selectedColorCodeVM" (ngModelChange)="updateSelectedOption($event, 'bandC');" required>
                                <option *ngFor="let opt of colorCodeOptions" [ngValue]="opt">{{ opt.Color }}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="colorCodes">Tolerance:</label>
                            <select id="colorCodes" name="colorCodes" class="form-control" [ngModel]="selectedColorCodeVM" (ngModelChange)="updateSelectedOption($event, 'bandD');" required>
                                <option *ngFor="let opt of colorCodeOptions" [ngValue]="opt">{{ opt.Color }}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row d-flex justify-content-center p-4"> <!--Submit btn-->
                        <button id="btnSubmit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                
            </div>            

        </div>

        <div class="card border-0 box-shadow rounded-1" *ngIf="submitted">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <h2>Output Resistor</h2>
            </div>
            <div class="card-body text-center pb-1">
                <div class="row">
                    <div class="col-md-4">Resistance:</div>
                    <div class="col-md-4">{{resistorOutput?.BaseValue}} &nbsp;&nbsp;ohms</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Tolerance:</div>
                    <div class="col-md-4">{{resistorOutput?.Tolerance}} &nbsp;&nbsp;&#177;{{bandDColorCode?.Tolerance}}%</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Min Value</div>
                    <div class="col-md-4">{{resistorOutput?.MinValue}}&nbsp;&nbsp;ohms</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Max Value</div>
                    <div class="col-md-4">{{resistorOutput?.MaxValue}}&nbsp;&nbsp;ohms</div>
                </div>
            </div>

            <div class="card-footer text-center bg-transparent"> <!--footer-->                
                <div class="mt-5 text-center">
                  <p>© {{year}} TuApp. Crafted <i class="mdi mdi-heart text-danger"></i> by <a href="http://www.tuwizard.com">tuwizard.com</a></p>
                </div>
            </div>            

        </div>
    </div>
</div>
