.rcc-container{
    position: relative;
    top: 50px;
    .card{
        .card-header{
            width: 100px;
            height: 100px;
            margin: 0 auto;
            margin-top: -10px;
            border-radius: 50%;
            font-size: 36px;
        }
    }
}